@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 50%;
}

body {
  background-color: white;
  width: 100%;
  max-width: 144rem;
}

img {
  max-width: 100%;
}

header, section, footer {
  margin: 7rem 0;
  padding: 2rem;
}

header {
  position: relative;
  width: 100%;
  height: 50vh;
  background-color: transparent;
  background-image: url(../assets/header/burger.png), url(../assets/header/header-background.png);
  background-repeat: no-repeat, no-repeat;
  background-position: 30% 40%, 0% 0%;
  background-size: auto, auto;
  margin-top: 0;
}

header #logo-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header #logo-navbar #logo {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

header #logo-navbar #delivery {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.667rem;
  font-weight: 700;
  color: #3d2514;
}

header #logo-navbar svg#menu {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  fill: #3d2514;
}

header #logo-navbar svg#menu:hover {
  fill: #bf2222;
}

header #logo-navbar #navbar {
  display: none;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.5);
}

header #logo-navbar #navbar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header #logo-navbar #navbar nav svg#close {
  fill: #3d2514;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

header #logo-navbar #navbar nav svg#close:hover {
  fill: #bf2222;
}

header #logo-navbar #navbar nav ul {
  list-style-type: none;
}

header #logo-navbar #navbar nav ul li a {
  color: #3d2514;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  padding: 1.6rem;
  display: block;
  font-family: 'Bebas Neue', cursive;
  font-size: 2.083rem;
}

header #logo-navbar #navbar nav ul li a:hover {
  color: #bf2222;
}

header #header-text {
  position: absolute;
  top: 50%;
  left: 2rem;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  text-transform: uppercase;
}

header #header-text p:first-child {
  display: inline-block;
  font-family: 'Bebas Neue', cursive;
  font-size: 2.365rem;
  color: #3d2514;
  border: 0.2rem dashed #3d2514;
  padding: 1rem;
}

header #header-text h1 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 11.43rem;
  color: #3d2514;
  letter-spacing: 0.5rem;
  text-shadow: 0.5rem 0.5rem #fee8bc;
}

header #header-text p:last-child {
  font-family: 'Alfa Slab One', cursive;
  font-size: 5.649rem;
  color: #3d2514;
  letter-spacing: 0.5rem;
  text-shadow: 0.5rem 0.5rem #fee8bc;
}

header #price {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  width: 17.5rem;
  height: 17.5rem;
  background-color: #bf2222;
  color: #ffffff;
  border-radius: 50%;
}

header #price #w-border {
  position: relative;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  border: .2rem dashed #ffffff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header #price #w-border .label {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem;
  color: #ffffff;
  line-height: 4rem;
  text-align: center;
}

header #price #w-border .label .n-label {
  font-size: 7rem;
}

header #price #w-border .label .t-label {
  font-size: 4rem;
  letter-spacing: .5rem;
}

#try-it-today {
  display: -ms-grid;
  display: grid;
  gap: 2rem;
}

#try-it-today #popular, #try-it-today #fun-taste, #try-it-today #fresh-chili {
  position: relative;
  color: #ffffff;
}

#try-it-today #popular .text, #try-it-today #fun-taste .text, #try-it-today #fresh-chili .text {
  position: absolute;
  top: 3.2rem;
  left: 3.2rem;
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem;
  color: #ffffff;
  line-height: 4rem;
}

#try-it-today #popular .text p:last-child, #try-it-today #fun-taste .text p:last-child, #try-it-today #fresh-chili .text p:last-child {
  font-size: 5rem;
}

#choose-enjoy {
  text-align: center;
  color: #3d2514;
}

#choose-enjoy button:first-child {
  border: none;
  background-color: #ffc045;
  padding: 1rem 2rem;
  font-family: 'Bebas Neue', cursive;
  font-size: 2.5rem;
  line-height: 3rem;
}

#choose-enjoy h2 {
  font-family: 'Bebas Neue', cursive;
  font-size: 5rem;
  line-height: 4rem;
  margin: 4rem 0;
}

#choose-enjoy p {
  font-family: 'Montserrat', cursive;
  font-weight: 400;
  font-size: 1.667rem;
  line-height: 3rem;
  margin: 4rem 0;
}

#choose-enjoy #products .product .picture {
  display: inline-block;
  position: relative;
  margin: 7rem 0;
}

#choose-enjoy #products .product .picture::after {
  content: "";
  position: absolute;
  display: block;
  width: 60%;
  height: 2rem;
  bottom: 2rem;
  left: 20%;
  -webkit-box-shadow: 0rem 6rem 2rem rgba(0, 0, 0, 0.5);
          box-shadow: 0rem 6rem 2rem rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  z-index: -1;
}

#choose-enjoy #products .product .name {
  font-family: 'Bebas Neue', cursive;
  font-size: 3.75rem;
  line-height: 3rem;
  margin: 2rem 0;
  color: #3d2514;
}

#choose-enjoy #products .product .desc {
  font-family: 'Montserrat', cursive;
  font-weight: 400;
  font-size: 1.667rem;
  line-height: 3rem;
  margin: 2rem 0;
  color: #3d2514;
}

#choose-enjoy #products .product .order {
  border: none;
  background-color: #bf2222;
  padding: 1.5rem 2rem;
  font-family: 'Alfa Slab One', cursive;
  font-size: 1.667rem;
  color: #ffffff;
  text-transform: uppercase;
}

#upcoming-events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#upcoming-events span {
  font-family: 'Bebas Neue', cursive;
  font-size: 2.917rem;
  color: #3d3d3d;
  text-transform: uppercase;
}

#upcoming-events h2 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 4.167rem;
  color: #3d2514;
  text-transform: uppercase;
}

#upcoming-events p {
  font-family: 'Montserrat', cursive;
  font-weight: 400;
  font-size: 2.083rem;
  color: #3d3d3d;
  margin: 4.5rem 0;
}

#book-your-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

#book-your-table span {
  font-family: 'Bebas Neue', cursive;
  font-size: 2.917rem;
  color: #3d3d3d;
  text-transform: uppercase;
}

#book-your-table h2 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 4.167rem;
  color: #3d2514;
  text-transform: uppercase;
}

#book-your-table form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  gap: 2rem;
  margin-top: 3.5rem;
}

#book-your-table form input, #book-your-table form button {
  padding: 2rem;
  border: .1rem solid #bebebe;
  border-radius: .5rem;
  font-family: 'Bebas Neue', cursive;
  font-size: 2.083rem;
  color: #3d3d3d;
  text-transform: uppercase;
}

#book-your-table form button {
  background-color: #bf2222;
  color: #ffffff;
}

footer {
  background: url(../assets/footer/footer-background.png);
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0;
}

footer #f-logo img {
  max-width: 50%;
}

footer #f-address {
  margin: 3rem 0;
}

footer #f-address p {
  font-family: 'Montserrat', cursive;
  font-weight: 400;
  font-size: 1.667rem;
}

footer #f-address address {
  font-family: 'Bebas Neue', cursive;
  font-size: 2.083rem;
  text-transform: uppercase;
  font-style: normal;
  margin-top: 3rem;
}

footer #f-copyright-socials {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.667rem;
  text-transform: uppercase;
}

footer span {
  display: inline-block;
  padding-right: 2rem;
}

@media (min-width: 576px) {
  #try-it-today {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    gap: 2rem;
  }
  #try-it-today #popular, #try-it-today #fun-taste, #try-it-today #fresh-chili {
    position: relative;
    color: #ffffff;
  }
  #try-it-today #popular .text, #try-it-today #fun-taste .text, #try-it-today #fresh-chili .text {
    position: absolute;
    top: 50%;
    left: 2rem;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  #try-it-today #popular {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 56.25%;
  }
  header #header-text {
    top: 60%;
  }
  #f-copyright-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 62.5%;
  }
  #choose-enjoy #products {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    gap: 2rem;
  }
  footer #f-address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer #f-address p {
    max-width: 50%;
  }
  footer #f-address address {
    margin-top: unset;
  }
  footer #f-address address div {
    padding: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */